@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 1px solid red;
}
:root {
 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}




@media (prefers-color-scheme: light) {
  
}
